body {
  background-color: rgb(58, 70, 80);
  color: rgb(0, 255, 255);
  height: 100%;
}

#progressBar {
  width: 30%;
  margin-left: 35%;
}

.center-heading {
  margin: auto;
  padding-top: 3%;
  padding-bottom: 3%;
}

.choice-list {
  margin-left: 5%;
}

.q-style {
  margin-top: 3%;
  margin-bottom: 3%;

  font-size: 120%;
}
.intro-list {
  margin-top: 2%;
}

li {
  line-height: 1.5;
  list-style-type: circle;
}

.bottom-text {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.center-text {
  text-align: center;
  margin-top: 3%;
  font-size: 120%;
}

.row-offset {
  padding-top: 1%;
}

.intro-text {
  margin-top: 5%;
  font-size: 150%;
}

.main-column {
  background-color: rgb(24, 29, 33);
  border-radius: 3%;
}

.gameOver {
  overflow: hidden;
  color: rgb(0, 255, 255);
  height: fit-content;
  font-size: 200%;
  font-family: "Countdown";
  font-weight: normal;
  font-style: normal;
}

.center-button {
  margin: auto 50%;
}

.correct {
  color: green;
  font-weight: bolder;
  text-align: center;
}

.incorrect {
  color: red;
  font-weight: bolder;
  text-align: center;
}
.default-hidden {
  display: none;
}

.default-visible {
  visibility: visible;
}
.default-invisible {
  visibility: hidden;
}

.no-display {
  display: none;
}

a:link {
  color: rgb(0, 255, 255);
}

/* mouse over link */
a:hover {
  color: blue;
}

/* selected link */
a:active {
  color: rgb(0, 255, 255);
}

.customButton {
  margin: 1%;
}
