body {
  line-height: unset;
  background-color: rgb(24, 29, 33);
  color: rgb(0, 255, 255);
}

#progressBar {
  width: 30%;
margin-left: 35%;
}

.center-heading {
  text-align: center;
}


.center-text {
  text-align: center;
}



.main-column {
  background: url("../images/Quiz3.png");
border-radius: 3%;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
height: 550px;
  font-size: 120%;
}

.internal-row {

}



.gameOver {
  overflow: hidden;
  color: rgb(0, 255, 255);
  height: fit-content;
  font-size: 200%;
  font-family: 'Countdown';
  font-weight: normal;
  font-style: normal;
}

.center-button{
margin: auto 50%;
}

.correct{
color: green;
font-weight: bolder;
}

.incorrect{
  color: red;
  font-weight: bolder;
  }
  .default-hidden{
    visibility: hidden;
  }

  .default-visible{
    visibility: visible;
  }


  .no-display{
    display: none;
  }






